/*  Common code starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}

html{
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #fff;
    width: 125rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.0rem 0.1rem #c4c4c4, 0.1rem 0rem 0.1rem #c4c4c4;
}
/* Common code Ends */

/* Header design Starts Here */

    header{
        background-color: black;
        color: white;
        border-radius: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .header-title{
        font-size: 5rem;
    }
    .break{
        display: none;
    }
    .header-description{
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
    }
    .btn-nd-animation{
        display: flex;
        align-items: center;
        
    }
    .btn{
        background-color: rgb(189, 6, 6);
        border: none;
        border-radius: 0.6rem;
        cursor: pointer;
        font-size: 1.6rem;
        padding: 1rem 1rem;
        letter-spacing:0.1rem ;
    }
    .btn> a ,i{
        color: white;
    }
    .animation-light{
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        margin-left: 0.5rem;
        animation: light 1s ease-in-out infinite;
        animation-play-state: running;
    }
    
    @keyframes light{
        0%{
            background-color: red;
        }
        50%{
            background-color: black;
        }
        100%{
            background-color: red;
            
        }
    }

/* Header design Ends Here */


/* Main Design Starts Here */
    main{
        display: flex;
        margin-top: 5rem;
    }

    /* Web button aside starts here */
    .web-btns{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 225px;
        height: 225px;
        background-color: black;
        margin-right: 1.5rem;
        border-radius: 0px 5px 5px 0px;
    }
    .web-btn{
        border: none;
        margin: 1.5rem;
        padding: 1rem;
        background-color: white;
        border-radius: 8px;
    }
    .web-btn> a{
        color: black;
    }
    .blog-red{
        background-color: red;
    }
    .blog-red>a{
        color: white;
    }

    /* Web button aside Ends here */


    /* Web Card aside starts here */
        .live-card{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
        .card{
            box-shadow: 1px 1px 1px 1px gray;
            border-radius: 12px;
        }
        .card-img img{
            width: 100%;
        }
        .card-container{
            padding: 15px;
        }
        .card-title{
            border: 1px solid gray;
            width: 75px;
            text-align: center;
            font-weight:bold ;
            border-radius: 0.4rem;
            margin-bottom: 15px;
        }
        .card-description{
            font-size: 1.5rem;
            font-weight: bold;
        }
        .card-icon i{
            padding-top: 15px;
            color: gray;
            font-size: 22px;
        }
        .card-icon span{
            font-size: 1.5rem;
        }
        .fa-brands{
            padding-left: 25px;
        }
    /* Web Card aside Ends here */

/* Main Design Ends Here */

/* View All button Starts here */
    section{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        display: none;
        
    }
     .view-btn{
        color: white;
        padding: 15px;
        width: 15rem;
        }

/* View All button Ends here */


/* Footer Design Starts here */
footer{
    background-color: black;
    margin-top: 30px;
    padding: 40px;
}
footer h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.footers{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(77, 76, 76);
    padding: 25px;
}
.options{
    display: inline;
}
.goal{
    display: inline-block;
}
.Footer-menu a{
    text-decoration: none;
    color: rgb(184, 180, 180);
    padding: 20px;
    font-size: 1.2rem;
}

.linkable-icon{
    margin-top: 20px;
}
.linkable-icon i{
    color: rgb(184, 180, 180);
    font-size: 2rem;
    cursor: pointer;
}

/* Footer Design Ends here */


/* ----------------------
Responsive Area  Starts
--------------------------*/

/* For Small device Starts*/
@media screen and (max-width:767px) {
   /*  */
    header{
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .header-content{
        margin-top: 10px;    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-title{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 10px;
    }
    .header-title br{
        display: none;
    }
    .header-description{
        font-size: 1.5rem;

        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .header-img{
        margin-top: 20px;
    }

/* Main */

    main{
        flex-direction: column;
        align-items: center;
    }
    .web-btns{
        background-color: white;
    }
    .web-btn{
        box-shadow: 1px 1px gray , -1px -1px  gray; 
    }

    .live-card{
        grid-template-columns: repeat(1, 1fr);
    }

/* footer */
    .options{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .goal{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

/* For Small device Ends */


/* For Medium Device Starts */
@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-color: #fff;
        width: 760px;
        max-width: 100%;
        margin: auto;
        box-shadow: 0.1rem 0.0rem 0.1rem #c4c4c4, 0.1rem 0rem 0.1rem #c4c4c4;
    }

    /* Main */
    main{
        flex-direction: column;
        align-items: center;
    }

    .web-btns{
        flex-direction: row;
        background-color: white;
        width: 100%;
        height: 150px;
    }

    .web-btn{
        box-shadow: 1px 1px gray , -1px -1px  gray; 
        height: 50px;
        width: 100%;
        font-weight: bold;
        font-size: 2rem;
    }
    .live-card{
        grid-template-columns:repeat(2, 1fr) ;
        gap: 1rem;
        width: 100%;
    }
    #card-id{
        display: none;
    }

    /* section */
    section{
        display: block;
    }

    /* footer */
    .Footer-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .goal{
        margin-top: 15px;
    }

}

/* For Medium Device Ends */

/* -----------------------
Responsive Area Ends 
--------------------------*/